[Oo]bj/
[Bb]uild/
[Bb]uilds/

# Unity3D generated meta files
Assets/Sprites/Menu/*.meta
Assets/Sprites/Tree/*.meta
Assets/Scripts/*.meta

# Library
Library/*.log
Library/*.info

# Visual Studio Code cache directory
.vscode/